body{
    background-color: black;
}
.icon a{
    text-decoration: none;
    color: antiquewhite;
    font-style: italic;
    font-size: 20px;
    text-shadow: 2px 2px 3px rgba(177, 143, 143, 0.683);
}
#aboutme{
    width: 600px;
}
.col-md-4{
    padding: 0;
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.col-md-4:hover {
    transform: scale(1.1);
}

.col-md-4 .content {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 233, 233, 0.183);
    padding: 10px;
    width: 400px;
    color: azure;
    font-weight: 500;
    display: none;
}

.col-md-4:hover .content {
    display: block;
}

.content {
    transition: transform 0.6s;
}

.content.flip {
    transform: rotateY(45deg);
} 

img{
    width: 100%;
}
.container{
    display: grid;
}