body {
    /* background: rgb(53,56,57); */
    /* background: linear-gradient(90deg, rgba(53,56,57,1) 9%, rgba(0,0,0,1) 59%); */
    /* height: 700px; */
    background-color: black;
    background-size:cover;
    margin: 0%;
}

.contact-style {
    height: 190px;
}

.overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 75%,
        rgba(255, 255, 255, 0.9) 80%,
        rgba(255, 255, 255, 0.25) 95%,
        rgba(255, 255, 255, 0) 100%
    );
}
 
.text {
    font-family: "Yanone Kaffeesatz";
    color: white;
    font-size: 60px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;

    .wrapper {
        padding-left: 5px;
        padding-right: 20px;
        padding-top: 13px;

        .letter {
            transition: ease-out 1s;
            transform: translateY(40%);
        }

        .shadow {
            transform: scale(1, -1);
            color: #999;
            transition: ease-in 5s, ease-out 5s;
        }

        &:hover {
            .letter {
                transform: translateY(-50%);
            }

            .shadow {
                opacity: 0;
                transform: translateY(50%);
            }
        }
    }
}

#logos{
    text-align: center;
    margin-top: 0px;
    z-index: 1000;
}

#logos i{
    display: inline;
    padding-inline: 16px;
    font-size: 45px;
    text-decoration: none;
    color: white;
}

.contactform{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

label{
    font-size: 20px;
    font-style: bold;
    color: aliceblue;
}

input{
    margin: 8px;
    border-style: solid;
    border-color: #ccc;
    width: 500px;
    height: 30px;
}

.subbox{
    margin: 8px;
    border-style: solid;
    border-color: #ccc;
    width: 500px;
    height: 30px;
}

#msgbox{
    margin-top: 8px;
    border-style: solid;
    border-color: #ccc;
    width: 500px;
    height: 50px;
}

button{
    margin-top: 8px;
    padding: 7px;
    border-style: solid;
    box-shadow: #c2c2c2;
}

button a{
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-weight:600;
    font-size: 25px;
}

button:hover{
    color: rgb(11, 19, 56);
}