body {
    font-family: Arial, sans-serif;
    margin: 0%;
    background-color: black;
    background-size:cover;
    /* background-image: url('../assets/bg.png');
    height: 700px;
    background-size:cover; */
}

#home{
    margin-top: 80px;
}

.container{
    margin-right: 10px;
    height: 200px;
}
#hero{
    display: inline-block;
    margin-left: 215px;
}

#text{
    font-size: 5em;
    font-weight: 500;
    color: rgb(255, 255, 255);
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
         typing 2s steps(22),
         cursor .4s step-end infinite alternate;
}
@keyframes cursor{
    50% {border-color: transparent;}
}
@keyframes typing{
    from {width:0}
}

#name{
    /* text-decoration: none;
    padding-left: 15px; */
    color: white;
    transition: all 0.4s ease-in;
}
#name:hover{
    color: white;
    text-shadow: 0 0 25px paleturquoise,
                 0 0 50px paleturquoise;
    transform: scale(2.2);
}

.aboutimage {
    margin-left: 55px;
    margin-top: -60px;
    margin-bottom: 70px;
    position: relative;
    /* overflow: hidden; */
    /* cursor: pointer; */
}

.aboutimage img {
    margin-top: 0px;
    position:relative;
    border-radius: 50%;
    cursor: pointer;
    height: 130px;
    width: auto;
    transition: transform 0.9s, filter 0.8s;
}

.overlay {
    /* position: relative; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background-color: rgba(121, 121, 121, 0.61);
    opacity: 0;
    transition: opacity 0.2s;
}

.aboutcontent {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-20%, -30%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s;
}
a{
    text-decoration: none;
}
.aboutcontent h3{
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
    text-decoration: none;
}

.aboutimage:hover .overlay {
    opacity: 1;
}

.aboutimage:hover .aboutcontent {
    opacity: 1;
}

.aboutimage:hover img {
    transform: scale(1.3) rotate(-10deg);
                box-shadow: 0px 0px 15px #040034f7,
                0px 0px 40px #fcfdfff7
}